* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}
@import "bootstrap/scss/bootstrap-grid";

.row + .row {
}
body {
  background-image: url(../img/forme\ rose\ accueil.svg);
  background-size: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 79px;
  height: 896px;
  padding: 10px 17px 35px 17px;
  flex-direction: column;
  align-items: center;
  gap: 99px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  gap: 58px;
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-m";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 100%;
  align-items: center;
}

.burger-menu {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}

.menu {
  display: flex;
  width: 128px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.fr {
  color: #3a0300;
  text-align: justify;
  font-family: "Rama Gothic Rounded";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.rectangle {
  width: 12px;
  height: 6px;
}

.user {
  width: 22px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: lowercase;
}

.cart-shopping {
  width: 29px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: lowercase;
}

.burger-menu-ligne {
  width: 42px;
  height: 24px;
}

.accueil-vin-rouge {
  object-position: right top;
  height: 845px;
  flex-shrink: 0;
}

.redwine-background {
  background-image: url(../img/forme\ rose\ accueil.svg),
    url(../img/vinnnnnn-rouge.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center, 80px 0;
}

.vin-a-votre-image {
  color: #3a0300;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.vin2-rouge {
  width: 302px;
  height: 872px;
}

.redwinebutton {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  background: transparent;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
}

.redwinebutton-wrapper {
  display: flex;
  justify-content: end;
}
.texte {
  color: #781515;
  text-align: justify;
  font-family: "rama-gothic-e";
  font-size: 40px;
  font-weight: 400;
}

button {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  background: transparent;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
}

.button-philo {
  display: flex;
  justify-content: flex-end;
}

.vigneron {
  margin-top: 224px;
  margin-bottom: 216px;
}

.philosophie {
  margin-bottom: 216px;
}

.cave {
  margin-bottom: 216px;
}

.titre {
  color: #781515;
  font-family: "rama-gothic-e";
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  flex: 1 0 0;
  margin-bottom: -25px;
  position: relative;
  align-items: center;
}

.logo {
  margin-bottom: 54px;
}

.footer {
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;
}

.title-footer {
  align-self: stretch;
  color: var(--red-base, #3a0300);
  font-family: "rama-gothic-e";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-inline {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.fa-phone {
  width: 25px;
  color: #3a0300;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.tel-footer {
  flex: 1 0 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.footer-1 i {
  width: 25px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.adresse-footer {
  flex: 1 0 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.adresse {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  flex-wrap: wrap;
}

.semaine {
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.horaire {
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.inscription {
  display: flex;
  width: 192px;
  padding-bottom: 6px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.mini-footer {
  width: 194px;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.reseau-partenaire {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  justify-content: end;
}

.reseaux {
  display: flex;
  gap: 12px;
}
/* vin rouge page */

.titre-gamay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  color: #802a22;
  font-family: "rama-gothic-e";
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

a {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.inforedwine {
  width: 193px;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.texteredwine {
  width: 301px;
  flex-shrink: 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.52px;
  align-self: stretch;
}

.redwine-information-texte {
  display: flex;
  width: 520px;
  height: 1266px;
  flex-direction: column;
  align-items: flex-start;
  gap: 84px;
  flex-shrink: 0;
}

.recommandation {
  flex: 1 0 0;
  color: var(--yellow, var(--yellow, #704420));
  text-align: right;
  font-family: "rama-gothic-e";
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.vin-blanc-page {
  height: 658px;
  flex: 1 0 0;
}
