* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}
@import "bootstrap/scss/bootstrap-grid";

.row + .row {
}

.arriereplanhomepage {
  background-image: url(../img/forme\ rose\ accueil.svg);
  background-size: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 79px;
  height: 896px;
  padding: 10px 17px 35px 17px;
  flex-direction: column;
  align-items: center;
  gap: 99px;
}

.navigation {
  display: flex;
  align-items: flex-start;
  gap: 58px;
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-m";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  width: 100%;
  align-items: center;
}

.burger-menu {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}

.menu {
  display: flex;
  width: 128px;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.fr {
  color: #3a0300;
  text-align: justify;
  font-family: "Rama Gothic Rounded";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.rectangle {
  width: 12px;
  height: 6px;
}

.user {
  width: 22px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: lowercase;
}

.cart-shopping {
  width: 29px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: lowercase;
}

.burger-menu-ligne {
  width: 42px;
  height: 24px;
}

.accueil-vin-rouge {
  object-position: right top;
  height: 845px;
  flex-shrink: 0;
}

.redwine-background {
  background-image: url(../img/forme\ rose\ accueil.svg),
    url(../img/vinnnnnn-rouge.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center, 80px 0;
}

.vin-a-votre-image {
  color: #3a0300;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.vin2-rouge {
  width: 302px;
  height: 872px;
}

.redwinebutton {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  background: transparent;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 50px;
}
.redwinebutton:hover {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  background-color: #781515;
  color: #e1e1e1;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 25px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 50px;
}

.redwinebutton-wrapper {
  display: flex;
  justify-content: end;
}
.texte {
  color: #781515;
  text-align: justify;
  font-family: "rama-gothic-e";
  font-size: 40px;
  font-weight: 400;
}

button {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  background: transparent;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
}

button:hover {
  background-color: #781515;
  color: #e1e1e1;
}

.bouton:hover {
  background-color: #781515;
  color: #e1e1e1;
}

.button-philo {
  display: flex;
  justify-content: flex-end;
}

.vigneron {
  margin-top: 224px;
  margin-bottom: 216px;
}

.philosophie {
  margin-bottom: 216px;
}
.cave {
  margin-bottom: 216px;
}

.titre {
  color: #781515;
  font-family: "rama-gothic-e";
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  flex: 1 0 0;
  margin-bottom: -25px;
  position: relative;
  align-items: center;
}

.philo {
  margin-left: 30px;
}

.titre.Mmvigne {
  margin-right: 40px;
  margin-left: 50px;
}

.logo {
  margin-bottom: 54px;
}

.footer {
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;
}

.title-footer {
  align-self: stretch;
  color: var(--red-base, #3a0300);
  font-family: "rama-gothic-e";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-inline {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.fa-phone {
  width: 25px;
  color: #3a0300;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.tel-footer {
  flex: 1 0 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.footer-1 i {
  width: 25px;
  color: #3a0300;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.adresse-footer {
  flex: 1 0 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.adresse {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  flex-wrap: wrap;
}

.semaine {
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.horaire {
  align-self: stretch;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.inscription {
  display: flex;
  width: 192px;
  padding-bottom: 6px;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #000;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.mini-footer {
  width: 194px;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 10px;
}

.reseau-partenaire {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  justify-content: end;
}

.reseaux {
  display: flex;
  gap: 12px;
}

/* vin rouge page */

.arriereplanrouge {
  background-image: url(../img/forme\ rose\ accueil.svg);
  background-size: 100%;
}

.titre-gamay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  color: #802a22;
  font-family: "rama-gothic-e";
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 190px;
}

.title-gamay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  align-self: stretch;
  background-image: url(../img/red-bottle.png);
  margin-top: 94px;
  padding-left: 17%;
  aspect-ratio: 639/688;
  background-size: 100%;
}

.red-bottle {
  width: 1182px;
  height: 768px;
  flex-shrink: 0;
}

.bouton {
  display: flex;
  width: 194px;
  height: 47px;
  padding: 6px 15px;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #781515;
  color: #781515;
  text-align: center;
  font-family: "rama-gothic-e";
  font-size: 29px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.commander {
  margin-left: 85px;
}

.inforedwine {
  width: 193px;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.texteredwine {
  width: 301px;
  flex-shrink: 0;
  color: #3a0300;
  font-family: "rama-gothic-e";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.52px;
  align-self: stretch;
  margin-bottom: 33px;
}

.redwine-information-texte {
  display: flex;
  width: 520px;
  flex-direction: column;
  align-items: flex-start;
  gap: 84px;
  margin-top: 200px;
}

.recommandation {
  flex: 1 0 0;
  color: var(--yellow, var(--yellow, #704420));
  text-align: right;
  font-family: "rama-gothic-e";
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: -23px;
  position: relative;
}

.vinblanc-recommandation {
  height: 658px;
  flex: 1 0 0;
  background-color: white;
}

.titre-gewurztaminer {
  color: #704420;
  font-family: "rama-gothic-e";
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2px;
}

.bouton.vin-blanc {
  color: #6e4623;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #6e4623;
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  padding: 6px 30px;
}
.bouton.vin-blanc:hover {
  background-color: #6e4623;
  color: #e1e1e1;
}
.petit-vin-blanc {
  display: flex;
  width: 520px;
  padding: 48px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: -20px;
}

/* burger menu page */

.margin-top {
  margin-top: 20px;
}

.liencroix {
  width: 30.849px;
  height: 29.849px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
}

.grostitre {
  margin-top: 100px;
  color: #673325;
  font-family: "rama-gothic-m";
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.04px;
  text-transform: uppercase;
}

.petit-titre {
  color: #673325;
  font-family: "rama-gothic-m";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.04px;
  text-transform: uppercase;
}

.grostitre .row {
  margin-bottom: 40px;
}

.petit-titre .row {
  margin-bottom: 20px;
}

/* burger menu page */

.arriereplanjaune {
  background-image: url(../img/forme\ jaune.svg);
  background-size: 100%;
}

.titre-gewurztraminer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  color: #704420;
  font-family: "rama-gothic-e";
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 190px;
}

.title-gewurztraminer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 18px;
  align-self: stretch;
  background-image: url(../img/yellow\ Bottle.png);
  margin-top: 94px;
  padding-left: 17%;
  aspect-ratio: 639/688;
  background-size: 100%;
}

.bouton.commanderjaune {
  color: #704420;
  margin-left: 85px;
  border-radius: 5px;
  border: 1px solid #704420;
}
.recommandation.rouge {
  color: var(--red, #781515);
  margin-left: 27px;
}

.titre-gewurztaminer.pinot-noir {
  color: #781515;
}
.bouton.red-wine {
  border: 1px solid #781515;
  color: #781515;
}
